/*<!--SIR! YUNG HOME BUTTON SA MAY LOGO-->*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: #1d2026;
    background-size: cover;
    background-position: center;
}

.header .logo   {
    width: 200px;
    margin-left: -50px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: #1d2026;
    box-shadow: 0 10px 8px -9PX rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1d2026;
    box-shadow: 0 10px 8px -9PX rgba(0,0,0,.2);
    z-index: -1;
}
    

.navbar {
    align-items: center;
}

.navbar a{
    right: 100px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500px;
    margin: 1.5rem;
}

.navbar a:hover{
    color: #0c816c;
    transition: 0.3s ease;
}

.navbar .btn .button span:hover{
    color: #0c816c;
    transition: 0.3s ease;
}

.navbar button {
    position: absolute;
}

button {
    top: 3.35rem;
    background-color: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}

button span {
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

button span:hover {
    background: #0c816c;
    transform: translateX(2px);
    transition: 0.6s ease;
}


.icons .menu-img {
    width: 30px;
    height: 30px;
}

.icons .close {
    width: 30px;
    height: 30px;
}

.checkbox {
    position: absolute;
    display: none;
}

.icons {
    position: absolute;
    width: 40px;
    right: 5%;
    cursor: pointer;
    display: none;
}

.hero{
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #1d2026;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}


.light{
    position: fixed;
    left: 38%;
    top: 16%;
    opacity: 0;
    transition: opacity 0.5s;
    overflow: hidden;
}

.CP{
    position: fixed;
    right: 15%;
    top: 25%;
    width: 30%;
    height: auto;
}

section {
    padding: 0 10%;
    overflow: hidden;
}

.hero-text h1 {
    font-size: 75px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 0.9;
}

.hero-text p {
    color: white;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.3;
}

.hero-text a{
    text-decoration: none;
    background: #0c816c;
    padding: 20px;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 60px ;
    line-height: 5px;
}

.hero-text a:hover {
    background: transparent;
    border: 1px solid #0c816c;
    transform: translateX(10px);
    transition: 0.6s ease;
}

.control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}

.control .line {
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}

.control .line span {
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #0c816c;
    display: block;
}

.active {
    background: #0c816c;
}

.active span {
    border: 1px solid white;
    background:#fff;
    margin-left: 31px;
}

.active span:hover {
    transform: translateX(-2px);
    transition: 0.6s ease;
}

.on {
    opacity: 0.4;
}

@media (max-width: 1441px) {
    .light{
        position: fixed;
        left: 35%;
        top: 17.5%;
        transition: opacity 0.5s;
        overflow: hidden;
    }

    .hero-text h1 {
    font-size: 75px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 0.9;
    }

    .hero-text p {
        color: white;
        text-align: justify;
        margin-bottom: 10px;
        line-height: 1.3;
    }

    .hero-text a{
        text-decoration: none;
        background: #0c816c;
        padding: 20px;
        display: inline-block;
        color: white;
        font-size: 18px;
        margin-top: 30px;
        border-radius: 60px ;
        line-height: 5px;
    }

    .hero-text a:hover {
        background: transparent;
        border: 1px solid #0c816c;
        transform: translateX(10px);
        transition: 0.6s ease;
    }
}

@media (max-width: 1025px ) {
    .hero-text{
        margin: 40px;
    }

    body {
        overflow: hidden;
    }

    .header {
        padding: 1.3rem 5%;
    }

    section {
        padding: 0 12px;
        transition: 0.4s;
    }

    .light {
        position: fixed;
        left: 20%;
        top: 17.5%;
        width: 100%;
        transition: 0.3s;
        transition: opacity 0.5s;
        overflow: hidden;
    }

    .hero-text h1 {
        font-size: 53.25px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 0.9;
    }
    
    .hero-text p {
        font-size: 71%;
        color: white;
        text-align: justify;
        margin-bottom: 7.1px;
        line-height: 1.3;
    }
    
    .hero-text a{
        text-decoration: none;
        background: #0c816c;
        padding: 20px;
        display: inline-block;
        color: white;
        font-size: 12.78px;
        margin-top: 15x;
        border-radius: 42.6x ;
        line-height: 5px;
    }
    
    .hero-text a:hover {
        background: transparent;
        border: 1px solid #0c816c;
        transform: translateX(10px);
        transition: 0.6s ease;
    }
}


@media (max-width: 964px) {
    .header .logo{
        padding: 1.3rem 5%;
    }


    .hero-text{
        margin: 20px ;
    }

    .CP{
        position: absolute;
        top: 30%;
    }
    

    .light {
        position: fixed;
        left: 20%;
        top: 17.5%;
        width: 100%;
        transition: 0.3s;
        transition: opacity 0.5s;
        overflow: hidden;
    }

    .hero-text h1 {
        font-size: 53.25px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 0.9;
    }
    
    .hero-text p {
        font-size: 71%;
        color: white;
        text-align: justify;
        margin-bottom: 7.1px;
        line-height: 1.3;
    }
    
    .hero-text a{
        text-decoration: none;
        background: #0c816c;
        padding: 20px;
        display: inline-block;
        color: white;
        font-size: 12.78px;
        margin-top: 15x;
        border-radius: 42.6x ;
        line-height: 5px;
    }
    
    .hero-text a:hover {
        background: transparent;
        border: 1px solid #0c816c;
        transform: translateX(10px);
        transition: 0.6s ease;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
        transition: 0.10s ease;
    }

    #check:checked~.icons #close-icon {
        display: block;
        transition: 0.10s ease;
    }

    #check:checked~.navbar {
        height: 13rem;
    }

    .icons .close {
        display: none;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #1c1f25;
        box-shadow: 0 10px 8px -9px rgba(0, 0,0,0.2);
        transition: .3s ease;
        overflow: hidden;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        text-align: center;
        transform: translateY((-50px));
        opacity: 0;
        transition: .3s ease;
    }

    .navbar p {
        position: relative;
        right: 5%;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.1s * var(--i));
    }

    .btn {
        position: relative;
        left: -30px;
        top: -3.5rem;
    }

    .control {
        text-align: center;
    }


}  

@media (max-width: 768px) {
    .header .logo{
        padding: 1.3rem 5%;
    }

    .hero-text {
        margin-top: 20%;
    }

    .light {
        position: absolute;
        left: -25%;
        top: -40%;
        width: 150%;
        transition: 0.3s;
        transition: opacity 0.5s;
        overflow: hidden;
    }

    .control {
        bottom: 20px;
        text-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 150px;
    }
    
    .control .line {
        width: 250px;
        height: 4px;
        background: #fff;
        margin: 0 20px;
        border-radius: 2px;
    }
    
    .control .line span {
        width: 50%;
        height: 8px;
        margin-top: -2px;
        border-radius: 4px;
        background: #0c816c;
        display: block;
    }

    .hero-text h1 {
        font-size: 75px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 0.9;
    }
    
    .hero-text p {
        color: white;
        text-align: justify;
        margin-bottom: 10px;
        line-height: 1.3;
    }
    
    .hero-text a{
        text-decoration: none;
        background: #0c816c;
        padding: 20px;
        display: inline-block;
        color: white;
        font-size: 18px;
        margin-top: 30px;
        border-radius: 60px ;
        line-height: 5px;
    }
    
    .hero-text a:hover {
        background: transparent;
        border: 1px solid #0c816c;
        transform: translateX(10px);
        transition: 0.6s ease;
    }

    .active {
        background: #0c816c;
    }
    
    .active span {
        border: 1px solid white;
        background:#fff;
        margin-left: 31px;
    }
    
    .active span:hover {
        transform: translateX(-2px);
        transition: 0.6s ease;
    }
    
    .on {
        opacity: 0.4;
    }


    .CP{
        display: none;
    }


}

@media (max-width: 426px) {
    .header .logo{
        padding: 1.3rem 5%;
    }

    .hero-text {
        margin-top: 20%;
    }

    .light {
        position: absolute;
        left: -25%;
        top: 5%;
        width: 150%;
        transition: 0.3s;
        transition: opacity 0.8s;
        overflow: hidden;
    }

    .control {
        bottom: 20px;
        text-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 150px;
    }
    
    .control .line {
        width: 230px;
        height: 4px;
        background: #fff;
        margin: 0 20px;
        border-radius: 2px;
    }
    
    .control .line span {
        width: 50%;
        height: 8px;
        margin-top: -2px;
        border-radius: 4px;
        background: #0c816c;
        display: block;
    }

    .hero-text{
        margin-top: 50%;
    }

    .hero-text h1 {
        font-size: 50px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 0.9;
    }
    
    .hero-text p {
        font-size: 71%;
        color: white;
        text-align: justify;
        margin-bottom: 7.1px;
        line-height: 1.3;
    }
    
    .hero-text a{
        text-decoration: none;
        background: #0c816c;
        padding: 20px;
        display: inline-block;
        color: white;
        font-size: 12.78px;
        margin-top: 21.3px;
        border-radius: 42.6px ;
        line-height: 5px;
    }
    
    .hero-text a:hover {
        background: transparent;
        border: 1px solid #0c816c;
        transform: translateX(10px);
        transition: 0.6s ease;
    }

    
}    


@media (max-width: 321px) {
    .header .logo{
        padding: 1.3rem 5%;
    }

    .hero-text {
        margin-top: 20%;
    }

    .light {
        position: absolute;
        left: -50%;
        top: 5%;
        width: 200%;
        transition: 0.3s;
        transition: opacity 0.5s;
        overflow: hidden;
    }

    .control {
        bottom: 20px;
        text-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 150px;
    }
    
    .control .line {
        width: 200px;
        height: 4px;
        background: #fff;
        margin: 0 20px;
        border-radius: 2px;
    }
    
    .control .line span {
        width: 50%;
        height: 8px;
        margin-top: -2px;
        border-radius: 4px;
        background: #0c816c;
        display: block;
    }

    .hero-text h1 {
        font-size: 45px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 0.9;
    }
    
    .hero-text p {
        font-size: 63.9%;
        color: white;
        text-align: justify;
        margin-bottom:6.39px;
        line-height: 1.3;
    }
    
    .hero-text a{
        text-decoration: none;
        background: #0c816c;
        padding: 20px;
        display: inline-block;
        color: white;
        font-size: 11.502px;
        margin-top: 19.17x;
        border-radius: 38.34px ;
        line-height: 5px;
    }
    
    .hero-text a:hover {
        background: transparent;
        border: 1px solid #0c816c;
        transform: translateX(10px);
        transition: 0.6s ease;
    }
}